<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="robots" content="noindex">
  <title>Local Live Music | Charlotte, NC</title>
  <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  
</head>

<style>

.slider-adjustment {
    position: fixed;
    top: 8vh;  
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

</style>

<body>

    
        <a class="waves-effect waves-light btn" id ='prev'><i class="material-icons left">arrow_back</i>Previous Date</a>
        <span id='date'></span>
        <a class="waves-effect waves-light btn" id ='next'><i class="material-icons left">arrow_forward</i>Next Date</a>


    <div class='slider-adjustment'>
        <div class="slider fullscreen">
            <ul class="slides"></ul>
        </div>
    </div>

    <script src="./js/jquery-2.1.1.min.js"></script>
    <script src="./js/materialize.js"></script>


    <script src="./js/moment.min.js"></script>
    <script src="./js/handlebars.min.js"></script>

    <script src="./JSON/museDATA.js"></script>
    <script src="./JSON/snugDATA.js"></script>
    <script src="./JSON/tinroofDATA.js"></script>
    <script src="./JSON/milestoneDATA.js"></script>

  <script type='text/javascript'>

        var allEvents = [];
        var todaysEvents = [];
        var current;

        var update = () => {
            $('.slides').empty();
            $('.indicators').remove();
            todaysEvents = [];
            $('#date').text(current);
            for (i in allEvents) {
                if (allEvents[i].date === current) {
                    console.log(allEvents[i]);
                    todaysEvents.push(allEvents[i])
                    addCard(allEvents[i]);
                }
            }
            $('.slider').slider();
        }

        var nextDate = () => {
            current = moment(current).add(1,'days').format('MM DD YY');
            console.log(current);
            update();   
        }

        var prevDate = () => {
            current = moment(current).subtract(1,'days').format('MM DD YY');
            console.log(current);
            update();   
        }


            
        

        var fillit = (obj, template, divtofill) => {
                var source   = $(template).html();
                var template = Handlebars.compile(source);
                var html = template(obj);
                $(divtofill).html(html);
        }

        var addCard = (obj) => {
            var venue;
            switch(obj.venue) {
                case 'Snug Harbor':
                    venue = 'snug';
                    break;
                case 'The Tin Roof':
                    venue = 'tinroof';
                    break;
                case 'Evening Muse':
                    venue = 'muse';
                    break;
                case 'The Milestone Club':
                    venue = 'milestone';
                    break;
            }

            // fillit(obj, eventTemplate,'#' + venue);


            //add handlebars where id = venue
            // var source = $('#eventTemplate').html();
            // var template = Handlebars.compile(source);
            // var html = template(obj);
            
            // $('.slider').html(html);

            var html = '<li><h5 id="date"></h5><img src="https://lorempixel.com/800/600/"><div class="caption center-align"><h3>' + obj.event  + '</h3><h4>' + obj.desc  + '</h4> <h3>' + obj.times + '<h5 class="light grey-text text-lighten-3">' + obj.href  + '</h5></div></li>';
            console.log(html);
            console.log(typeof html);

            $('.slides').append(html);

        }       
    
        $(document).ready(function(){


            

            //next date button
            $('#next').click(()=>{
                nextDate();
            });

            $('#prev').click(()=>{
                prevDate();
            });


            

            //concat all data arrays

            
            allEvents = allEvents.concat(muse);
            allEvents = allEvents.concat(snug);
            allEvents = allEvents.concat(tinroof);
            allEvents = allEvents.concat(milestone);
           

            //console.log(allEvents);

            //set current date
            current = moment().format('MM DD YY');
            // current = '08 25 17'; //testing date, friday
            todaysEvents = [];

            // adds cards and initializes slider
            update();
            

            

           
        });

        

        
    
    
      </script>



</body>



</html>